<div class="container pt-3 pl-2">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="todoInput">Todo:</label>
      <input formControlName="todo" type="text" class="form-control" id="todoInput" aria-describedby="todo">
      <small id="emailHelp" class="form-text text-muted">Add to toto to rememeber.</small>
    </div>
    <button [disabled]="!todoForm.valid" type="submit" class="btn btn-primary float-right">Add</button>
  </form>
  <div class="mb-5"></div>
  <h5>My todos</h5>
  <hr>
  <div *ngIf="todos.length === 0">
    Brak todo!
  </div>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{todo}}</li>
  </ul>
</div>
